

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <button id="mydata" style="height:100px;width:300px"></button>
    <button id="mydata1" style="height:100px;width:300px">senddata</button>
<div id="alldata">

</div>

</body>

<script>


document.getElementById("mydata").addEventListener("click",function(e){


    fetch("http://localhost:3000/test1",{
        method:'POST',
        headers : { 
           
        'Content-Type': 'application/json',
        'Accept': 'application/json'
       }
    
}).then(response=>{
    return response.json()
}).then(data =>{
    document.getElementById('alldata').innerHTML=JSON.stringify(data)

})
})


document.getElementById('mydata1').addEventListener('click',function(e){



    fetch("http://localhost:3000/test1",{
        method:'POST',
        headers : { 
           
        'Content-Type': 'application/json',
        'Accept': 'application/json'
       },
       body:JSON.stringify({a: 1, b: 'Textual content'})
       
    
}).then(response=>{
    return response.json()
}).then(data =>{
    document.getElementById('alldata').innerHTML=JSON.stringify(data)

})

})


</script>
</html>