<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
    <%-include('header') %> 
    <form id="myform"method="POST"style="margin-top:60px">

        <div class="form-group">
            <label for="exampleInputEmail1">Enter company</label>
            <input type="text" class="form-control" id="company" aria-describedby="emailHelp" placeholder="Enter email"name="company">
          </div>
      
          <div class="form-group">
            <label for="exampleInputEmail1">Product name</label>
            <input type="text" class="form-control" id="productname" aria-describedby="emailHelp" placeholder="Enter product name"name="productname">
          </div>
         

          <p id="myproduct"><%=postid%></p>
        <div class="form-group">
            <label for="exampleInputEmail1">Enter description</label>
            <input type="text" class="form-control" id="description" aria-describedby="emailHelp" placeholder="Enter email"name="description">
          </div>

          <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"  id="submitform"type="button"onclick="showdialog(this)">
            Upload image
        </button>

<button type="submit"class="btn btn-primary">submit product</button>
    </form>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                Upload Image
                </h4>
                <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
                    x
                </button>
            </div>       
           
            <div class="modal-body">
                <form method="POST" action="" enctype="multipart/form-data" id="form-upload">
                <div class="form-group">
                    <input type="file" name="file" id="file" class="form-control">
                </div>
                <input type="submit"class="btn btn-success" value="Upload">
                </form>
              
            </div>
        </div>
        </div>
    </div>





<script>
function showdialog(data){

  console.log(data.id)
    $(data.id).show()
}

$(document).ready(function () {
     
     $("#myform").on("submit",function(e){
      e.preventDefault()
      alert("DSsfsf") 
     var formData = {
       company: $("#company").val(),
       description: $("#description").val(),
      productname: $("#productname").val(),
     
      storeid: $("#myproduct").text(),
      image: imagePath,
   
     };
     alert(formData.image)
   
         $.ajax({
             type: "POST",
             url: '/addinfo',
             data: formData,
             success: function(response)
             {
               
   
                 // user is logged in successfully in the back-end
                 // let's redirect
                // alert(imagePath)
                 alert(response.message)
                
              
              // var socket=io()
               //socket.emit("new_post",formData)
 
                   
            }
        });
      });
      });
 















     var imagePath="";
   $("#form-upload").on("submit",function(e){
     
e.preventDefault()

// var fd = new FormData();
//var files = $('#file').prop('files')[0];


// if(files.length > 0 ){
//  fd.append('file',files[0]);

  $.ajax({
     url: "/do-upload-productimage",
     type: "POST",
     data: new FormData(this),
     contentType: false,
     cache:false,
     processData: false,
     success:function(response){
      
     alert("jhgjgj")
     
       imagePath=response;
           
       $("#myModal").modal("hide")
     }
})

})

</script>

</body>
</html>