<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<form action="/deleteproduct" method="POST">
    <input type="text"name="postid" id="postid"value=<%=postid%> >
    <input type="text"name="productid" id="productid"value=<%=productid%>>

    <button type="submit">confirm delete</button>
</form>
</body>
</html>