<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>




</head>

<style>

body{background:#f5f5f5}
.text-white-50 { color: rgba(255, 255, 255, .5); }
.bg-blue { background-color:#00b5ec; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }




    body,td,th {
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-size: 20px;
 color: #000000;
 line-height: 30px;
}
.hj{
  font-size: 16px;
}
tr{
    margin-top: 10px;
}
body {
 margin-left: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
}
.pad
{
padding-left:10px;
}
a:link {
 color: #000000;
 text-decoration: none;
}
a:visited {
 text-decoration: none;
 color: #000000;
}
a:hover {
 text-decoration: underline;
 color: #000000;
}
a:active {
 text-decoration: none;
 color: #000000;
}
</style>
<body>
    

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand"href="/"id="myprofileimage"><img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50"alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button"data-toggle="collapse" data-target="#navbarResponsive"aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
           
            
           
            <li class="nav-item">
                <a class="nav-link" href="/myprofile">Profile</a>
                 <p id="myunread"style="color:red;margin-left:35px;height:2px;margin-top:-2px"></p>

            </li>
           
            <li class="nav-item">
                <a class="nav-link" href="/terminatesession">Terminate session</a>
            </li>
           
           
           
        </ul>
    </div>
    </div>
</nav>


<br><br><br>

















    <table width="850" border="0" align="center">
        <tr>
          <td>
            
            
            
            <table width="850" border="0" class="bor" style="border-spacing:13px;">
            <tr>
              <td height="60" colspan="2"><div align="center"><strong>RAVISH KUMAR</strong>
        </div>
    </td>
            </tr>
            <tr class="mt-5">
              <td width="60%">
                <ul style="list-style-type: none;margin: 0;
                padding: 0;">
                    <li class="hj">
                    Email:rav39439@gmail.com
                    </li> 
                    <li class="hj">
                    Phone no:7026912304
                    </li> 
                    <li  class="hj">
                    Profile link:https://newblogecomm.herokuapp.com/myprofile
                    </li> 
                   
                    <li class="hj">
                    Resume link:https://newblogecomm.herokuapp.com/contact
                    </li> 
                   
                </ul>
               
             
            </td>
              <td width="40%">
                <img src="./public/files/mypic.jpg"width="120px"height="140px"style="float:right;" alt="">
            </td>
            </tr>
            <tr class="mt-5"style="margin-top:20px">
              <td colspan="2" bgcolor="#CCCCCC"><strong>CAREER OBJECTIVE</strong></td>
            </tr>
            <tr>
              <td colspan="2" style="text-indent:30px;">Aim to be placed in challenging 
         organization that gives me scope to update my knowledge &amp; skills in accordance 
         with the latest trends and be a part of team that dynamically works towards growth 
         of organization.</td>
            </tr>
            <!-- <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>EDUCATIONAL PROFILE</strong></td>
            </tr>
            <tr>
              <td colspan="2"><table width="850" border="1" bordercolor="#000000">
                <tr>
                  <td><div align="center"><strong>Course</strong></div></td>
                  <td><div align="center"><strong>Board/University</strong></div></td>
                  <td><div align="center"><strong>Educational Institutation</strong></div></td>
                  <td><div align="center"><strong>Year of pass</strong></div></td>
                  <td><p align="center"><strong>% of Marks</strong></p></td>
                </tr>
                <tr>
                  <td>MCA</td>
                  <td>Andhra University</td>
                  <td><div align="left">Dr.B.V.Raju Institute of Computer Education,Bhimavaram
                   </div></td>
                  <td><div align="center">2013</div></td>
                  <td>8.12 (CGPA)</td>
                </tr>
                <tr>
                  <td>DEGREE</td>
                  <td>Andhra University</td>
                  <td><div align="left">DR.C.S.N PG &amp; DEGREE College,Bhimavaram</div></td>
                  <td><div align="center">2010</div></td>
                  <td>70%</td>
                </tr>
                <tr>
                  <td>INTERMEDIATE</td>
                  <td>Board of Intermediate</td>
                  <td><div align="left">Sri Chaitanya Junior College,Bhimavaram</div></td>
                  <td><div align="center">2007</div></td>
                  <td>67%</td>
                </tr>
                <tr>
                  <td>SSC</td>
                  <td>Board of Secondary Education</td>
                  <td><div align="left">D.N.R.E.M.H School,Bhimavaram</div></td>
                  <td><div align="center">2005</div></td>
                  <td>61%</td>
                </tr>
              </table></td>
            </tr> -->
            <tr>






              <td colspan="2" bgcolor="#CCCCCC"><strong>TECHNICAL SKILLS</strong></td>
            </tr>
            <tr>
              <td colspan="2"><table width="831" border="0" align="center">
                <tr>
                  <ul>
                  <td width="264"><li>Operating System</li></td>
                  <td width="37"><strong>:</strong></td>
                  <td width="532">Windows 7, 10</td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Programming Languages</li></td>
                  <td><strong>:</strong></td>
                  <td>JavaScript,Java</td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Frameworks</li></td>
                  <td><strong>:</strong></td>
                  <td> Spring, Hibernate,Express</td>
                 </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Database</li></td>
                  <td><strong>:</strong></td>
                  <td>Mongodb, Mysql</td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>IDE</li></td>
                  <td><strong>:</strong></td>
                  <td>Eclipse, NetBeans</td>
                  </ul>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>FULL STACK PROJECTS</strong></td>
            </tr>
            <tr>
              <td height="17" colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" 
               align="center">
                <tr>
                  <!-- <ul>
                    <td width="831"><li>Done main-project on<strong> &quot;OnlineGloceryStore
                    &quot;</strong> using Front End java(Struts Framework) and Back End
                    Oracle.</li></td>
                 </ul> -->
                </tr>
                <!-- <tr>
                  <td></td>
                </tr> -->
                <!-- <tr>
                  <td><li>Done Internship in (write your company name)</li></td>
                </tr> -->


                <tr>
                  <td>
                    <table width="650">
                    <tr>
                      <td width="120"><strong>Project Title</strong></td>
                      <td width="15"><strong>:</strong></td>
                      <td width="434"><strong>FreeStudyMaterialweb</strong>
                       </td>

                       
                    </tr>


                    <tr>
                      <td>Technologies used</td>
                      <td>:</td>
                      <td> NODEJS (Backend), JAVASCRIPT (Frontend), Clever Cloud (Database)</td>
                    </tr>

                   
                    <tr>

                      <td>Details</td>
                      <td>:</td>
                      <td>: This application is an online portal where students can register themselves, access the study material created by admin and write quiz which is also created by admin of this website. Authentication of every user is mandatory during the registration process. Uploading of study materials in form of pdf files is allowed only for admin. Candidates can also see their result after the quiz and view the solutions of the questions in the quiz. An instant chat app is also present in the application where user can chat and share images with other users. Admin can interact with users through screen sharing and chat application. </td>
                    </tr>

                    <tr>

                      <td>Github</td>
                      <td>:</td>
                      <td>https://github.com/rav39439/Neweducationworld.com </td>
                    </tr>

                  </table>
                </td>
                </tr>
              </table>   
              
              <br>
                    <table width="650">
                    <tr>
                      <td width="120"><strong>Project Title</strong></td>
                      <td width="15"><strong>:</strong></td>
                      <td width="434"><strong>OnlineEcommerceStore</strong>
                       </td>

                       
                    </tr>


                    <tr>
                      <td>Technologies</td>
                      <td>:</td>
                      <td>NODEJS (Backend), ReactJS (Frontend), MONGODB (Database)</td>
                    </tr>

                    
                    <tr>

                      <td>Details</td>
                      <td>:</td>
                      <td> This application is an online ecommerce platform where admin can login and create an online shop. The admin can then edit, delete and add new products to his shop. The new customers after registering to his websites can view the details of his products and place order for various items in shop. The admin can access the details of his shop by entering his shopperscode in a separate module and then he can view all the order details placed by customers. The admin can then accept or decline the order of the customers based on the details made by them. The customers can also view their order status details in this application</td>
                    </tr>

                    <tr>

                      <td>Github</td>
                      <td>:</td>
                      <td>https://github.com/rav39439/Mernnewclient </td>
                    </tr>

                  </table>

                  <br>
                  
                    <table width="650">
                    <tr>
                      <td width="120"><strong>Project Title</strong></td>
                      <td width="15"><strong>:</strong></td>
                      <td width="434"><strong>PromoteYourProduct</strong>
                       </td>

                       
                    </tr>


                    <tr>
                      <td>Technologies</td>
                      <td>:</td>
                      <td>NODEJS (Backend), JavaScript (Frontend), MONGODB ATLAS (Database)</td>
                    </tr>

                    
                    <tr>

                      <td>Details</td>
                      <td>:</td>
                      <td> This application is an online ecommerce platform where admin can login and Post his/her Product. If admin has a product then he can post the details of his product. Admin can also post events to promote his product. The normal users can register themselves in this application with their valid email address. They can view the products of the admin in product section and then they can go through the details of product. Based on the details of the product, they can also place on order for that product. Admin can login to application and accept or decline the order. Users can also view their order status. Connected users can also chat with each other users through text and images</td>
                    </tr>

                    <tr>

                      <td>Github</td>
                      <td>:</td>
                      <td> https://github.com/rav39439/myblog

                      </td>
                    </tr>

                  </table>
                  <br>

                    <table width="650">
                    <tr>
                      <td width="120"><strong>Project Title</strong></td>
                      <td width="15"><strong>:</strong></td>
                      <td width="434"><strong>OnlinecourseMangement</strong>
                       </td>

                       
                    </tr>


                    <tr>
                      <td>Technologies</td>
                      <td>:</td>
                      <td>Java Spring Boot (Backend), Angular JS (Frontend), Clever Cloud (Database)</td>
                    </tr>

                  
                    <tr>

                      <td>Details</td>
                      <td>:</td>
                      <td> This application is an online platform for educational institutions to create, store and manage the huge amount of data that is generated during the entire curriculum. The application helps the admin to create, modify and delete the courses for semesters in a college. It also helps the admin to register the students and keep track of their progress. Admin can publish results of the students and also send them news of any upcoming events in college. Student can also login to the application and check their results, registration details and any recent activities in college.</td>
                    </tr>

                    <tr>

                      <td>Github</td>
                      <td>:</td>
                      <td> https://github.com/rav39439/Collegemanagement</td>
                    </tr>

                  </table>
                </td>
                </tr>
              </table>   
              <br>        
                    <table width="650">
                    <tr>
                      <td width="120"><strong>Project Title</strong></td>
                      <td width="15"><strong>:</strong></td>
                      <td width="434"><strong>MySharePostApp</strong>
                       </td>

                       
                    </tr>


                    <tr>
                      <td>Technologies</td>
                      <td>:</td>
                      <td>Java Spring Boot (Backend), Angular JS (Frontend), Clever Cloud (Database), Thymeleaf (template)</td>
                    </tr>

                    
                    <tr>

                      <td>Details</td>
                      <td>:</td>
                      <td> This application is a medium for people to connect and share posts. Users can register in this website and search other registered users and connect with them. They can view their private posts and comment on them. Users can post advertisement of their product or any new occasions. They can also share news and events with their connections.</td>
                    </tr>

                    <tr>

                      <td>Github </td>
                      <td>:</td>
                      <td> https://github.com/rav39439/Mynewsharepostapp</td>
                    </tr>

                  </table>
                  <br>
                    <table width="650">
                    <tr>
                      <td width="120"><strong>Project Title</strong></td>
                      <td width="15"><strong>:</strong></td>
                      <td width="434"><strong>OnlineWebLibrary</strong>
                       </td>

                       
                    </tr>


                    <tr>
                      <td>Technologies</td>
                      <td>:</td>
                      <td>NODEJS (Backend), JavaScript (Frontend), MongoDB (Database)</td>
                    </tr>

                   
                    <tr>

                      <td>Details</td>
                      <td>:</td>
                      <td> This application is an Online Library store where admin can add books, register users for library and keep the record of assigned books to users. Admin can collect payment based on per day usage of the book by users. Admin can also filter books by their name and their status (whether assigned or not assigned). Moreover he can also filter the user based on their name and also based on books assigned to them .Hence he can track all the users who have books of library. By using the user’s verified phone numbers and emails admin can follow-up with them. Users can view different books that are not assigned in this application.</td>
                    </tr>

                    <tr>

                      <td>Github</td>
                      <td>:</td>
                      <td> https://github.com/rav39439/OnlineNewLibrary</td>
                    </tr>

                  </table>
                </td>
                </tr>
              </table>           
            </td>
            </tr>




            <tr>
              <td height="17" colspan="2" bgcolor="#FFFFFF"></td>
            </tr>
            <!-- <tr>
              <td height="17" colspan="2" bgcolor="#FFFFFF"><div align="center"><strong>
               <a href="next.html">NEXT PAGE</a></strong></div></td>
            </tr> -->
          </table></td>
        </tr>
      </table>

      <table width="850" border="0" align="center">
        <tr>
          <td>
            
            <table width="850" border="0">
            <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>ACHIVEMENTS</strong></td>
            </tr>
            <tr>
             <td height="17" colspan="2" bgcolor="#FFFFFF"><table width="829" border="0"
              align="center">
               <tr>
                 <ul>
                   <td width="513"><li>Prof CN Rao Scholarship for top 20 performance in MBA first, second and third semester</li></td>
                 </ul>
               </tr>
               <tr>
                 <ul>
                   <td><li>Created an online platform where user can write tests and see their results</li></td>
                 </ul>
               </tr>
             </table>
            
            </td>
            </tr>






            <!-- <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>CO-CURRICULAR ACTIVITIES</strong></td>
              </tr>            
            <tr>
              <td colspan="2"><table width="829" border="0" align="center">
                <tr>
                  <ul>
                    <td width="513"><li>Presented a Paper on &quot;Android&quot; at INSPIRE'12 
                     in DNR College of Engineering.</li></td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Presented a Paper on &quot;CloudComputing&quot; at GECFEST'11-'12 
                     in Gudlavalleru Engineering College.</li></td>
                  </ul>
                </tr> 
              </table>
            </td>
            </tr> -->






            <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>EXTRA CURRICULAR ACTIVITIES</strong></td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
                <tr>
                  <ul>
                    <td width="513"></td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Qspiders certification on core java and software testing</li></td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Uploading study materials for students and conducting online quiz in:https://neweducationworld.herokuapp.com/</li></td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Posting advertisements of new products and marketing events on:https://newblogecomm.herokuapp.com and  https://mynewsharepostapp.herokuapp.com</li></td>
                  </ul>
                </tr>
              </table>
            </td>
            </tr>



            <!-- <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>STRENGHTS</strong></td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
                <tr>
                <ul>
                  <td width="513"><li>Creativity</li></td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Adaptability</li></td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Self Motivation</li></td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Quick Learning to new things</li></td>
                  </ul>
                </tr>
              </table></td>
            </tr> -->




            <!-- <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>HOBBIES</strong></td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
                <tr>
                <ul>
                  <td width="513"><li>Blogging</li></td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Software Collection</li></td>
                  </ul>
                </tr>
                <tr>
                <ul>
                  <td><li>Composing Songs</li></td>
                  </ul>
                </tr>
                
              </table>
            </td>
            </tr> -->






            <!-- <tr>
              <td colspan="2" bgcolor="#CCCCCC"><strong>PERSONAL DETAILS</strong></td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF"><table width="829" border="0" align="center">
                <tr>
                  <ul>
                    <td width="331"><li>Father Name</li></td>
                    <td width="29"><strong>:</strong></td>
                    <td width="455">Shaik Shanur</td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Languages</li></td>
                    <td><strong>:</strong></td>
                    <td>Hindi,English,Telugu,Urdu</td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Date of Birth</li></td>
                    <td><strong>:</strong></td>
                    <td>02th Jan,1990</td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Marital Status</li></td>
                    <td><strong>:</strong></td>
                    <td>Single</td>
                  </ul>
                </tr>
                <tr>
                  <ul>
                    <td><li>Permanent Address</li></td>
                    <td><strong>:</strong></td>
                    <td>Palurivari Street, Bhimavaram-534201</td>
                  </ul>
                </tr>
              </table>
            </td>
            </tr> -->



<!-- 
            <tr>
              <td width="58%" bgcolor="#FFFFFF">Place:Bhimavaram</td>
              <td width="42%" bgcolor="#FFFFFF"><div align="right">(SK UMAR FARUK)</div></td>
            </tr>
            <tr>
              <td colspan="2" bgcolor="#FFFFFF">Date:19/08/2014</td>
            </tr> -->
            <tr>
                <td colspan="2" bgcolor="#CCCCCC"><strong>DECLARATION</strong></td>
             
              </tr>
<tr >
    <td style="width:80%;float: left;"><strong>All the information above is correct to best of my knowledge</strong></td>
    <td style="width:20%;float:right;"><strong>(Ravish Kumar)</strong></td>
</tr>


          </table>
        </td>
        </tr>




      </table>


      <center><h1 class="mt-5">MESSAGE BOARD</h1></center>

      <main role="main" class="container bootdey.com">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-blue rounded box-shadow">
          <img class="mr-3" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="48" height="48">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Ravish Kumar</h6>
            <small>Messages</small>
          </div>
        </div>
      



        <div class="my-3 p-3 bg-white rounded box-shadow"id="mymessages">
          <h6 class="border-bottom border-gray pb-2 mb-0">Recent Messages</h6>
          <!-- <div class="media text-muted pt-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="mr-2 rounded" width="32" height="32">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">@username</strong>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
          </div>
          <div class="media text-muted pt-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="mr-2 rounded" width="32" height="32">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">@username</strong>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
          </div>
          <div class="media text-muted pt-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="mr-2 rounded" width="32" height="32">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">@username</strong>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
          </div>
          <div class="media text-muted pt-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="mr-2 rounded" width="32" height="32">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">@username</strong>
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
          </div> -->

        
          <% messages.forEach(function(message){ %> 

            <div class="media text-muted pt-3">
              <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="mr-2 rounded" width="32" height="32">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark"><%=message.username%></strong>
                <%=message.message%>
              </p>
            </div>
<% }) %> 

          <small class="d-block text-right mt-3">
            <a href="#">All messages</a>
          </small>
        </div>
      </main>

      <form id="myform"method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Send Message</label>
          <input type="text" name="message"class="form-control" id="message" aria-describedby="emailHelp">
        </div>
       
        <button type="submit" class="btn btn-primary">Send</button>
      </form>

      <button class="btn btn-primary mt-3"><a class="nav-link" href="/terminatesession">Terminate session with Ravish</a></button>
      <button class="btn btn-primary mt-3"><a class="nav-link" href="/myprofile/messagewithrav34897">Start messaging Ravish</a></button>

<script>


$("#myform").on("submit",function(e){
 e.preventDefault()


var formData = {
 
 comment: $("#message").val(),
};
//
    $.ajax({
        type: "POST",
        url: '/myprofile/sendmessage',
        data: formData,
        success: function(response)
        {
          

            // user is logged in successfully in the back-end
            // let's redirect
        
            
           if(response.comment=='Not logged in'){
            window.location.href = 'https://newblogecomm.herokuapp.com/myprofile/messagewithrav34897';

           }
 else{
let html=``
  //document.getElementById('mymessages').innerHTML=html
 

html=`  <div class="media text-muted pt-3">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="mr-2 rounded" width="32" height="32">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">${response.username}</strong>
              ${response.comment}
            </p>
          </div>`
document.getElementById('mymessages').innerHTML +=html
document.getElementById('message').innerText =""


 }
    
       }
   });
   return false;
   
 });





</script>

      </body>
      </html>

</body>
</html>